# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
venv311/

# Data & model artifacts
data/*
!data/sample_predictions.csv
!data/sample_bankroll.png

models/

# OS / IDE
.DS_Store
.vscode/
.idea/
